[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=/usr/bin/java -jar /opt/archsploit/webapps/burpsuite/burpsuite.jar
Icon=/usr/share/icons/Archsploit/archsploit-burpsuite.png
Name=Burpsuite
Terminal=false
Type=Application
